* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    background: rgb(1, 57, 79);
    background: -moz-radial-gradient(circle, rgba(1, 57, 79, 1) 67%, rgba(1, 48, 67, 1) 100%);
    background: -webkit-radial-gradient(circle, rgba(1, 57, 79, 1) 67%, rgba(1, 48, 67, 1) 100%);
    background: radial-gradient(circle, rgba(1, 57, 79, 1) 67%, rgba(1, 48, 67, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#01394f", endColorstr="#013043", GradientType=1);
}

#game-div {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#inner-game-div {
    border-radius: 15px;
    overflow: hidden;
    height: 720px;
    margin: 0;
    padding: 0;
    
    box-shadow: 10px 10px 25px -5px rgba(0, 0, 0, 0.70);
    -webkit-box-shadow: 10px 10px 25px -5px rgba(0, 0, 0, 0.70);
    -moz-box-shadow: 10px 10px 25px -5px rgba(0, 0, 0, 0.70);
}

#game_canvas {
    margin: 0;
}