* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

#game-div {
    background: #fff;
    border-radius: 15px;
    width: 1280px;
    height: 720px;
    margin: auto;
    overflow: hidden;
}